<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/CSS/layout.css" class="rel" />
    <link rel="stylesheet" href="/CSS/header.css" class="rel" />
    <link rel="stylesheet" href="/CSS/footer.css" class="rel" />

    <%- style %>
  </head>
  <body>
    <%- include("_header");%>
    <main id="layout-main"><%- body%></main>
    <%- include("_footer");%> <%- script %>
  </body>
</html>
