<link rel="stylesheet" href="/CSS/user_profile.css" class="rel" />

<img src="<%= user.avatar%>"alt="<%= user.name%>" width="100">


<!-- update user profile -->
<% if(user.id === profile_user.id) {%>
    <form action="/users/update/<%= profile_user.id %>" method="POST"  enctype="multipart/form-data">
           <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
           <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
           
           <input type="file" name="avatar" placeholder="profile_picture">
           <input type="submit" value="update">

    </form>
           <% }else{ %>
                  <p><%=profile_user.name%></p>
                  <p><%=profile_user.email%></p>
           <% } %>
